#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}



.checkbox {
  align-items: center;
}

.X {
  color: red;
}

.O {
  color: blue;
